@model EntityFramework.Applicant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks_In_Matriculation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks_In_Matriculation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks_In_Intermediate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks_In_Intermediate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks_In_Batchelor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks_In_Batchelor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
