@model EntityFramework.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jobb_Adverstisement_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobb_Adverstisement_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Last_Date_Apply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Last_Date_Apply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Total_Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Total_Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Women_Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Women_Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Open_Merit_Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Open_Merit_Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Result_Declaration_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Result_Declaration_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Posting_City_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_Posting_City_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Contract_Based)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Contract_Based)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Dept_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Job_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
